.Home {

  .MainHero {
    position: relative;
    z-index: 9;
    margin-top: -50px;

    .FocalPoint {
      position: relative;
      border-radius: 25%;
      z-index: 9;
      background: rgba(255, 255, 255, 0.6)
    }


    .voronoi {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      svg {

        .links {
          stroke: #EBEBEB;
          stroke-opacity: 0.5;
        }

        .polygons {
          fill: none;
          stroke: #e4e4e4;
        }

        .sites {
          fill: #EBEBEB;
          stroke: #fff;
        }

        .sites :first-child {
          fill: #fff;
        }
      }
    }
  }

  .highlights {
    // background-color: #0093E9;
    // background-image: linear-gradient(124deg, #0093E9 0%, #80D0C7 100%);
    // background-color: #0093E9;
    background-color: #3992ff;
    background-image: linear-gradient(270deg, #3992ff 0%, #2f44cc 100%);
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      top: 0;
      height: 200px;
      background-color: #3992ff;
      background-image: linear-gradient(270deg, #3992ff 0%, #2f44cc 100%);
      transform: skew(0, -6deg);
      transform-origin: top left;
      z-index: 9;
    }
    &::after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      bottom: 0;
      height: 200px;
      background-color: #3992ff;
      background-image: linear-gradient(270deg, #3992ff 0%, #2f44cc 100%);
      transform: skew(0, -6deg);
      transform-origin: bottom right;
      z-index: 8;
    }

    .box {
      position: relative;
      box-shadow: none;
      height: 100%;
      z-index: 9;
    }
  }
}
