
<form action="#" id="form-contact" netlify>
  <div class="field">
    <div class="control">
      <textarea class="textarea" placeholder="Send us a message (optional)" name="notes"></textarea>
    </div>
  </div>
  <div class="field has-addons">
    <div class="control is-expanded">
      <input class="input" type="text" placeholder="Your email address *" name="email">
    </div>
    <div class="control">
      <input type="submit" class="button is-white" value="Send" />
    </div>
  </div>
</form>
