<!DOCTYPE html>
<html>
<head>
{{ partial "base/header.html" . }}
</head>

<body class="Home">
{{ partial "base/main-nav.html" . }}
<main>


<div class="MainHero">
  <section class="hero is-fullheight ">
    <div class="hero-body">
      <div class="container">
  			<div class="columns is-centered">
  				<div class="FocalPoint column is-6">
    	      <h2 class="title is-1" >
              <img src="/logo-menu.svg" alt="Driffft" width="50%" />
              <h4 class="title is-4">Discover your next dive experience.</h4>
              <!-- <div class="">
                Something nice.
              </div> -->
    	      </h2>

  				</div>
  			</div>
      </div>

    </div>

  </section>
</div>



{{ partial "base/footer.html" . }}

<script async>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
</main>
</body>
</html>
