<nav class="MainNav navbar is-transparent">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="/images/logo-menu.svg" alt="exaQuark" width="112" />
    </a>
    <div class="navbar-burger burger" data-target="main-menu">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div class="navbar-menu" id="main-menu">


    <div class="navbar-end">




      <a class="navbar-item" href="/blog/">
        Sites
      </a>
      <a class="navbar-item" href="/blog/">
        Shops
      </a>
      <a class="navbar-item" href="/blog/">
        Liveaboards
      </a>
      <a class="navbar-item" href="/blog/">
        Blog
      </a>

      <!-- <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="button polly-Button" href="/contact/">
              <span>Request an invite</span>
            </a>
          </p>
        </div>
      </div> -->
    </div>
  </div>
</nav>
